body {
}
#vid{
    transform:scaleX(-1);
}
#dragableDiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1f7;
    border: 1px solid #f1f1f1f7;
    text-align: center;
    cursor: move;
    height: 50px;
    width: 50px;
}

#cameraContainer {
    position: relative;
}

.son {
    position: absolute;
    top: 0;
    left: 0;
}

#control {
    position: absolute;
    left: 0;
    z-index: 50;
    background: HoneyDew;
    opacity: 0.7;
    color: #fff;
    text-align: center;
}

#snap {
    background-color: dimgray;
}
#retake {
    background-color: coral;
}
.hov {
    opacity: .8;
    transition: all .5s;
}

    .hov:hover {
        opacity: 1;
        font-weight: bolder;
    }
#displayPicture {
   
    width: 30em;
}
#ketem{
    height:30px;
    width:30px;
    background-color:red;
}