@model LostAndFound.Models.HeadCategory

@{
    ViewBag.Title = "הגדרות מערכת";
}
@using (Ajax.BeginForm("headCategoiesList", new AjaxOptions()
{
    UpdateTargetId = "headCategoryList",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.InsertAfter

}))
    <h2>הוסף קטגוריות</h2>
<div id="defineHeadCategory">
    <form action="">
        <label>קטגוריה</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        <button type="submit" id="addHeadCategory"><h1>+</h1></button>
    </form>
    <ul id="headCategoryList">

    </ul>
</div>
