
@{
    ViewBag.Title = "הגדרות מנהל";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Styles/Self/CreateFind.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title></title>
    <script type="text/javascript">
        

            
            function addCategory(catId) {
                debugger;
                var lastCategory = document.getElementsByClassName("category")[
                    document.getElementsByClassName("category").length - 1];
                if (lastCategory.textContent != "הכנס קטגוריההכנס תת קטגוריה") {
                    lastCategory.removeAttribute("onblur");
                    var li = document.createElement('li');
                    li.classList = "category";
                    li.id = "cat" + catId;
                    li.setAttribute("onblur", "addCategory(" + (catId + 1) + ")");
                    li.setAttribute("contenteditable", "true");
                    li.innerHTML = "הכנס קטגוריה";
                    var ul = document.createElement('ul');
                    ul.id = catId + "catList";
                    var subLi = document.createElement('li');
                    subLi.setAttribute("onblur", "addSub(" + catId + ")");
                    subLi.classList = "sub" + catId;
                    subLi.setAttribute("contenteditable", "true");
                    subLi.innerHTML = "הכנס תת קטגוריה";
                    ul.appendChild(subLi);
                    li.appendChild(ul);
                    document.getElementById("catList").appendChild(li);
                }
            }
            function addSub(i) {
                debugger;
                var lastSub = document.getElementsByClassName("sub" + i)[
                    document.getElementsByClassName("sub" + i).length - 1];
                if (lastSub.innerText != "הכנס תת קטגוריה") {
                    lastSub.removeAttribute("onblur");
                    var li = document.createElement('li');
                    li.classList = "sub" + i;
                    li.setAttribute("onblur", "addSub(" + i + ")");
                    li.setAttribute("contenteditable", "true");
                    li.innerHTML = "הכנס תת קטגוריה";
                    document.getElementById(i + "catList").appendChild(li);
                }
            }
            function addPlace() {
                debugger;
                var lastPlace = document.getElementsByClassName("place")[
                    document.getElementsByClassName("place").length - 1];
                if (lastPlace.innerText != "הכנס מיקום") {
                    lastPlace.removeAttribute("onblur");
                    var li = document.createElement('li');
                    li.setAttribute("onblur", "addPlace()");
                    li.innerHTML = "הכנס מיקום";
                    li.classList = "place";
                    li.setAttribute("contenteditable", "true");
                    document.getElementById("placeList").appendChild(li);
                }

            }

    </script>
</head>
<body>
    <div class="containersAdmin" id="categories" dir="rtl">
        <h3 class="container_title">עריכת קטגוריות</h3>
        <div class="wrapUlCategories">
            <div class="scrollSettingsContainer">
                <ul class="ulSettings" id="catList" style="list-style-type:square">
                    <li onmouseout="addCategory(2)" class="category" id="cat1" contenteditable="true">
                        הכנס קטגוריה
                        <ul class="ulSettings">
                            <li onblur="addSub(1)" class="sub1" contenteditable="true">
                                הכנס תת קטגוריה
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <i class="fas fa-angle-left" id="settings-angle-left-first"></i>
    <div class="containersAdmin" id="places" dir="rtl">
        <h3 class="container_title">עריכת מיקומים</h3>
        <div class="scrollSettingsContainer">
            <div id="wrapUlPlaces">
                <ul class="ulSettings" id="placeList" style="list-style-type:square">
                    <li onblur="addPlace()" class="place" contenteditable="true">
                        הכנס מיקום
                </ul>
            </div>
        </div>
    </div>
    <i class="fas fa-angle-left" id="settings-angle-left-second"></i>
    <div class="containersAdmin" id="details" dir="rtl">
        <div class="wrapDetails">
            <h3 class="container_title">הגדרות </h3>
            <label class="labelSettings">כתובת מייל</label><br />
            <input class="input1" type="email" />
            <label class="labelSettings">הגדר סיסמת מנהל</label><br />

            <input class="input1" type="password" />
            <label class="labelSettings">העברה לארכיון- אחת לכמה חודשים</label><br />

            <input class="input1" type="number" />
        </div>
    </div>
    <div id="submit">

        <a>  <i class="fas fa-check" id="submit-check-settings"></i></a>

    </div>
</body>
</html>


