
@{
    ViewBag.Title = "אבידה נמצאה";
}
<link href="~/Styles/Self/CreateFind.css" rel="stylesheet" />
<style>
    body {
        background-image: url('../../Images/Background.png');
    }

    h1 {
        text-align: center;
        font-size: 150px;
        font-family: 'miriwin-webfont';
        position: relative;
        top: 50px;
        font-size: 50px;
    }
    }
</style>


<h1 class="container_title">אבידה הושבה לבעליה :)</h1>