
@{
    ViewBag.Title = "הגדרות מנהל";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Styles/Self/CreateFind.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title></title>
    <script type="text/javascript">
        $(document).ready(function () {

        });


        $("#loginForm").submit(function (e) {
            e.preventDefault();
        });

    </script>
</head>
<body>
    @using (Html.BeginForm("confirmDelete", "deleteFind", FormMethod.Post))
    {
            <div class="containersAdmin" id="containerLogin" dir="rtl">
                <h3 class="container_title" id="titleLogin">זיהוי מנהל</h3>
                
                <div id="wrapLoginPassword">
                    <label class="labelSettings">הזן מספר טלפון אישי:</label>
                    <input class="input1" name="finderPhoneNumber" type="password" />
                </div>
               
            </div>

            <div id="submit">

                <button class="transperantButton" type="submit">
                    <i class="fas fa-check" id="checkSubmitPassword"></i>
                </button>

            </div>
        }
    </body>
</html>


