
@{
    ViewBag.Title = "אבידה נמצאה";
}
<a href="~/fonts/miriwin-webfont.ttf">~/fonts/miriwin-webfont.ttf</a>

<style>
    @font-face {
        font-family: 'miriwin-webfont';
        src: url('../../fonts/miriwin-webfont.ttf') format('truetype');
    }
    body {
        background-image: url('../../Images/Background.png');
    }

    h1 {
        text-align: center;
        font-size:150px;
        font-family: 'miriwin-webfont';
    }
</style>


<h1 class="container_title">אבידה הושבה לבעליה :)</h1>