
<style>
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container {
        height: 80vh;
        width:90vw;
    }

    div {
        width: 50vw;
        height: 50vh;
        float: left;
    }

    #div1 {
     
  float: left;
   background: #DDD;
    }


    #div2 {
  float: left;
        background: #AAA;
    }

    #div3 {
  float: right;
        background: #777;
    }

    #div4 {
float: right;
        background: #444;
    }
</style>
<div id="div1">
</div>
<div id="div2">
</div>
<div id="div3">
</div>
<div id="div4">
</div>



