<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0
    }

    div {
        position: fixed;
        width: 50%;
        height: 50%
    }

    #container {
        height: 80vh;
        width: 95vw;
    }

    #NW {
        top: 0;
        left: 0;
        background: orange
    }

    #NE {
        top: 0;
        left: 50%;
        background: blue
    }

    #SW {
        top: 50%;
        left: 0;
        background: green
    }

    #SE {
        top: 50%;
        left: 50%;
        background: red
    }
</style>  
<div id="container">
    <div id="NW"></div>
    <div id="NE"></div>
    <div id="SW"></div>
    <div id="SE"></div>
</div>