@{
   ViewBag.Title = "home";
}
<h2>home</h2>

<div>

    @Html.ActionLink("הוסף מציאה", "CreateFind", "Create")
</div>

<div>
    @Html.ActionLink("חפש אבידה", "Index", "Home")
</div>

<div>
    @Html.ActionLink("הגדרות מערכת", "Admin", "Settings")
</div>

