
@{
    ViewBag.Title = "estie";
}
<form id="estieform" enctype="multipart/form-data">
    <h2>estie</h2>
    <div style="background-color: red" id="inputFile">
        <img id="uploadImage_btn" src="~/Images/Icons/file.png" class="input_icon" title="העלה תמונה" />

    </div>
    <input id="fff" type="button" value="save" />
</form>

<script src="~/Scripts/imported/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        bs_input_file();
    });
    $('#fff').on('click', function () {
      //  var dataURL = canvas.toDataURL('image/jpeg', 1.0);
        //  document.querySelector('#dl-btn').href = dataURL;
        //   var formdata = new FormData($("#findform")[0]);
        var ff = $("#estieform")[0];
        debugger;
        var formdata = new FormData(ff);
        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            url: "/Create/CreateFind2",
            data:  formdata ,
            success: function (data) {
                alert('successfully invoked function!' + data);
            }
        }).done(function (o) {
            console.log('saved');
            // If you want the file to be visible in the browser
            // - please modify the callback in javascript. All you
            // need is to return the url to the file, you just saved
            // and than put the image in your browser.
        });

    });
    function bs_input_file() {
        $("#inputFile").before(
            function () {
                debugger;
                var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0' accept='image / gif, image / jpeg, image / png'>");
                element.attr("name", "importFile");
                element.change(function () {
                    //readURL(this);
                    //var file = this.files[0];
                    //element.next(element).find('.selectfile').val(file.name.split('\\').pop());
                });
                $(this).find("#uploadImage_btn").click(function () {

                    element.click();
                });
                $(this).find("#uploadImage_btn").css("cursor", "pointer");
                return element;
            }

        );
    }
</script>